<div class="form-validation">
  @if(!isSubmit) {
  <form [formGroup]="profileForm" (ngSubmit)="handleSubmit()">
    <h2 class="mb-[16px] font-bold">Profile Form</h2>
    <div class="mb-[16px]">
      <div
        class="w-[100px] h-[100px] border rounded-xl text-center flex items-center cursor-pointer"
        (click)="triggerFileInput()"
      >
        <img [src]="profileForm.get('avatar')?.value" class="rounded-xl" />
      </div>
      <input
        type="file"
        hidden
        #inputUploadImage
        (change)="onFileSelected($event)"
      />
      <span class="text-sm">Change the avatar</span>
    </div>
    <div class="mb-[16px]">
      <div class="flex justify-between">
        <label for="userName" class="font-semibold">Username</label>
        <input id="userName" type="text" formControlName="userName" required />
      </div>
      <div
        *ngIf="
          profileForm.get('userName')?.invalid &&
          (profileForm.get('userName')?.dirty ||
            profileForm.get('userName')?.touched)
        "
      >
        <div
          class="text-red-500"
          *ngIf="profileForm.get('userName')?.hasError('required')"
        >
          <div>Username is required.</div>
        </div>
      </div>
    </div>
    <div class="mb-[16px]">
      <div class="flex justify-between">
        <label for="email" class="font-semibold">Email </label>
        <input id="email" type="text" formControlName="email" required />
      </div>
      <div
        *ngIf="
          (profileForm.get('email')?.invalid &&
            profileForm.get('email')?.dirty) ||
          profileForm.get('email')?.touched
        "
      >
        <div
          class="text-red-500"
          *ngIf="profileForm.get('email')?.hasError('required')"
        >
          <div>Email is required</div>
        </div>
        <div
          class="text-red-500"
          *ngIf="profileForm.get('email')?.hasError('email')"
        >
          <div>Email is invalid</div>
        </div>
      </div>
    </div>
    <div>
      <div class="flex justify-between">
        <label class="font-semibold">Phone</label>
        <input type="text" formControlName="phone" required />
      </div>
      <div
        *ngIf="
          profileForm.get('phone')?.invalid &&
          (profileForm.get('phone')?.dirty || profileForm.get('phone')?.touched)
        "
      >
        <div
          class="text-red-500"
          *ngIf="profileForm.get('phone')?.hasError('required')"
        >
          <div>Phone is required</div>
        </div>
        <div
          class="text-red-500"
          *ngIf="profileForm.get('phone')?.hasError('minLength')"
        >
          <div>Phone must be at least 10 characters long</div>
        </div>
        <div
          class="text-red-500"
          *ngIf="profileForm.get('phone')?.hasError('pattern')"
        >
          <div>Enter only number</div>
        </div>
      </div>
    </div>
    <button type="submit" class="w-[100%]">Submit</button>
  </form>
  } @else {
  <div class="infor">
    <h2 class="mb-[16px] font-bold">Profile Form</h2>
    <div
      class="w-[100px] h-[100px] border rounded-xl text-center flex items-center"
    >
      <img [src]="profileForm.value.avatar" />
    </div>
    <p>Name: {{ profileForm.value.userName }}</p>
    <p>Email: {{ profileForm.value.email }}</p>
    <p>Phone: {{ profileForm.value.phone }}</p>
  </div>
  }
</div>
